<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.king.mapper.RoleMapper">

    <resultMap id="roleResultMap" type="cn.king.entities.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="lastUpdateBy" column="last_update_by"/>
        <result property="lastUpdateTime" column="last_update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectRoleSql">
        select
        sys_role.id,
        sys_role.`name`,
        sys_role.`create_time`,
        sys_role.`last_update_by`,
        sys_role.`last_update_time`,
        sys_role.`del_flag`,
        sys_role.`remark`
        from
    </sql>

    <insert id="insertRole">
        INSERT INTO(
        sys_role.`name`,
        <include refid="cn.king.mapper.BaseModel.baseFieldsInModel"/>
        )
        VALUES(
        #{name},
        #{remark},
        <include refid="cn.king.mapper.BaseModel.baseFieldsInModel"/>
        )
    </insert>

    <update id="updateRole">
        UPDATE sys_role
        <set>
            <if test="role.roleName != null">
                sys_role.name = #{role.roleName}
            </if>
            <if test="role.remark != null">
                ,sys_role.name = #{role.remark}
            </if>
            <if test="role.lastUpdateBy != null">
                ,sys_role.last_update_by = #{role.lastUpdateBy}
            </if>
            <if test="role.lastUpdateTime != null">
                ,sys_role.last_update_time = #{role.lastUpdateTime}
            </if>
            <if test="role.delFlag != null">
                ,sys_role.del_flag = #{role.delFlag}
            </if>
        </set>
        WHERE sys_role.id = #{sys_role.id,jdbcType=INTEGER}
    </update>

    <delete id="deleteRoleById">
        DELETE from sys_role FROM sys_role.id = #{roleId}
    </delete>

    <select id="findAll" resultMap="roleResultMap">
        <include refid="selectRoleSql"/>
        sys_role
    </select>

    <select id="findRolesByUserId" resultMap="roleResultMap">
        <include refid="selectRoleSql"/>
        sys_user, sys_role, sys_user_role
        WHERE 1 = 1 AND
        sys_user_role.user_id = sys_user.id AND
        sys_user_role.role_id = sys_role.id AND
        sys_user.id = #{userId}
    </select>

    <select id="findRolesByPermissionId" resultMap="roleResultMap">
        <include refid="selectRoleSql"/>
        sys_role, sys_permission, sys_role_permission
        WHERE 1=1 AND
        sys_role_permission.role_id = sys_role.id AND
        sys_role_permission.permission_id = sys_permission.id AND
        sys_permission.id = #{permissionId}
    </select>

    <select id="findRoleById" resultMap="roleResultMap">
        <include refid="selectRoleSql"/>
        sys_role
        WHERE
        sys_role.id = #{roleId}
    </select>

    <select id="rolePaging" resultMap="roleResultMap">
        <include refid="selectRoleSql"/>
        sys_role
        <where>
            1=1
            <if test="role.roleName != null">
                AND sys_role.name like "%"#{role.roleName}"%"
            </if>
            <if test="role.remark != null">
                AND sys_role.remark like "%"#{role.remark}"%"
            </if>
        </where>
        LIMIT
        #{pageNumber},#{limit}
    </select>

    <select id="findRoleCount" resultType="java.lang.Long">
        SELECT count(*) FROM sys_role
        <where>
            1=1
            <if test="role.roleName != null">
                AND sys_role.name like "%"#{role.roleName}"%"
            </if>
            <if test="role.remark != null">
                AND sys_role.remark like "%"#{role.remark}"%"
            </if>
        </where>
    </select>

</mapper>


