<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.king.mapper.RolePermissionMapper">

    <insert id="insertRolePermissions">
        INSERT INTO sys_role_permission (role_id,permission_id) VALUES
        <foreach collection="permissionsIds" item="permissionId" separator=",">
            ( #{roleId}, #{permissionId} )
        </foreach>
    </insert>
    <!--删除角色对应的所有权限信息-->
    <delete id="deleteRolePermissions">
        DELETE FROM sys_role_permission WHERE role_id = #{roleId} AND permission_id in
        <foreach collection="permissionIds" item="permissionId" open="(" close=")" separator=",">
            #{permissionId}
        </foreach>
    </delete>
     <!--删除权限对应的所有角色信息-->
    <delete id="deletePermissionRoles">
        DELETE FROM sys_role_permission WHERE permission_id = #{permissionId} AND role_id in
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </delete>
     <!--删除当前角色所有的权限-->
    <delete id="deleteRoleAllPermissions">
        DELETE FROM sys_role_permission WHERE sys_role_permission.role_id = #{roleId}
    </delete>

    <delete id="deleteRelationshipByPermissionId">
        DELETE FROM sys_role_permission WHERE sys_role_permission.permission_id  = #{permissionId}
    </delete>

</mapper>