<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/ztree/zTreeStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom-ztree.css}"/>
    <script th:src="@{/jquery/jquery.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/ztree/jquery.ztree.all-3.5.min.js}"></script>
    <title>分配权限</title>
</head>
<body>

<!-- 内容主体区域 -->
<div style="padding:10px 30px;">
    <button id="doAssignToRole" class="layui-btn layui-btn-sm">分配权限</button>
    <br>
    <ul id="permissionTree" class="ztree"></ul>
</div>
<!-- 内容主体区域结束 -->

<script>
    layui.use(['layer'], function () {
        let $ = layui.$
            , layer = layui.layer; // 引入弹框功能

        // 从请求域取出角色id
        let roleId = [[${roleId}]];

        // ztree的参数设置
        let setting = {
            check: {
                // 启用复选框
                enable: true
            },
            // 异步加载树结点数据
            async: {
                enable: true, //表示异步加载生效
                // url: "/permission/loadAssignData/" + roleId, // 异步加载时访问的页面
                url: "/permission/loadAssignData", // 异步加载时访问的页面
                autoParam: ["id", "name=n", "level=lv"], // 参数, 只能传节点中有的属性
                // 自定义参数. 必须按照下面的格式才能传递成功
                otherParam:{"roleId":function () {
                        return roleId;
                    }},
                type: 'post'
            },
            // 回调
            callback: {
                onClick: onClick // 节点的单击事件
            },
            //树的展现方式
            view: {
                dblClickExpand: false, // 屏蔽节点的双击事件
                showIcon: true, // 是否显示图标, 默认就是t
                showLine: true, //是否显示节点间的连线, 默认就是t
                selectedMulti: false, //多选: 不支持
                addDiyDom: addDiyDom //自定义元素
            },
        };

        // 自定义修改节点. treeId:树的id. treeNode:当前结点的json数据
        function addDiyDom(treeId, treeNode) {
            //获取每个结点的图标
            const icoObj = $("#" + treeNode.tId + "_ico");
            //如果该菜单有图标
            if (treeNode.icon) {
                //删除图标的默认icon, 将json中icon替换进来, 设置icon图标背景色是空的
                icoObj.removeClass("button ico_docu ico_open")
                    .addClass(treeNode.icon).css("background", "");
            }
        }

        // 节点的点击事件
        function onClick(event, treeId, treeNode) {
            // 阻止默认事件. 此处效果是点击节点不会跳转
            event.preventDefault();
            let zTree = $.fn.zTree.getZTreeObj("permissionTree");
            // 点击节点开关节点
            zTree.expandNode(treeNode);

            addDiyDom(treeId, treeNode);
        }

        // 异步初始化树
        $.fn.zTree.init($("#permissionTree"), setting);

        // 给角色分配权限
        $("#doAssignToRole").on("click", function () {
            //获取选中的结点 -- zTree的API
            let treeObj = $.fn.zTree.getZTreeObj("permissionTree");
            let nodes = treeObj.getCheckedNodes(true);
            // 如果没选中任何节点
            if (nodes.length === 0) {
                layer.msg("请选择需要分配的权限", {time: 1000,anim: 6});
            } else {
                // let nodesTree = JSON.stringify(nodes);
                // console.log(nodesTree);
                let nodeIds = "";
                $.each(nodes, function (i, node) {
                    // 多选框id拼串
                    nodeIds += node.id;
                    nodeIds += ",";
                });
                nodeIds = nodeIds.substr(0, nodeIds.length - 1);
                // 给用户分配权限
                $.ajax({
                    type: "POST",
                    url: "/role/doAssign",
                    data: {roleId: roleId, permissionsIds: nodeIds},
                    success: function (result) {
                        if (result.code == 200) {
                            layer.msg("分配许可信息成功", {time: 1000, icon: 6});
                        } else {
                            layer.msg("分配许可信息失败", {time: 1000, icon: 5});
                        }
                    }

                });


            }
        });

        // $(function () {});

    });
</script>
</body>
</html>